<!DOCTYPE html>
<html lang="en">

<head>
  <title>FindBots - A Botlist Open Source</title>
  <%- include('./partials/_head.ejs') %>
</head>

<body>
  <!-- SIDEBAR -->
  <%- include("./partials/_sidebar.ejs", { tags }) %>
  <!-- NAVBAR -->
  <%- include('./partials/_navbar.ejs') %>

  <div class="slide-main-wrap">
    <div class="container">
      <div id="slider">
        <div class="trends-swiper-wrapper">
          <% for(const data of db) { %>
          <div class="trends-slider">
            <div class="deslide-item">
              <div class="bot-slider-banner">
                <div class="bot-slider-banner-img">
                  <img class="bot-banner lazyload" data-src="<%- data.background %>" src="<%- data.background %>" alt="<%- data.botName %>">
                </div>
              </div>
              <div class="slider-bot-details">
                <div class="slider-bot-name dynamic-name"><%- data.botName %></div>
                <div class="slider-bot-info">
                  <div class="slider-bot-data"><i class="fa-solid fa-angle-up"></i> <%- data.upvotes %></div>
                  <div class="slider-bot-data"><i class="fa-solid fa-house-chimney-user"></i> <%- data.serverCount %></div>
                  <div class="bot-langs">
                    <span class="item">
                      <div class="slider-bot-langs bot-main-lang" style="background: #fff !important; color: #111 !important; border: 1px solid #fff !important; line-height: 1em;">
                        <%= data.mainLanguage %>
                      </div>
                    </span>
                    <% let languages = data.subLanguages %>
                    <% for(const lang of languages) {%>
                    <span class="item">
                      <div class="slider-bot-langs bot-sub-lang" style="background: 0 0 !important; color: #fff !important; border: 1px solid #fff !important; line-height: 1em;">
                        <%= lang %>
                      </div>
                    </span>
                    <% }; %>
                    <div class="clearfix"></div>
                  </div>

                  <div class="clearfix"></div>
                </div>
                <div class="bot-slider-shortdesc">
                  <%- data.shortDesc %>
                </div>
                <div class="bot-slider-buttons">
                  <a href="/bot/<%- data.botID %>" class="btn btn-radius btn-primary btn-play"><i class="fa-solid fa-plus"></i> Invite</a>
                  <a href="/bot/<%- data.botID %>/vote" class="btn btn-radius btn-vote btn-play"><i class="fa-solid fa-angle-up"></i> Vote</a>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <% } %>
        </div>
        <div class="slider-pagination"></div>
        <div class="slider-navigation">
          <div class="slider-button slider-button-next"><i class="fas fa-angle-right"></i></div>
          <div class="slider-button slider-button-prev"><i class="fas fa-angle-left"></i></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div id="bots-trending">
    <div class="container">
      <section class="trends-block trends-block_bots">
        <div class="trends-block-header">
          <div class="trends-heading">
            <h2 class="trends-title">Trending bots</h2>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="trends-block-content">
          <div class="trends-list" id="trending-home">
            <div class="trends-container">
              <div class="trends-swiper-wrapper">
                <% top.forEach((tops, count) => {%>
                <div class="trends-slider">
                  <div class="item">
                    <div class="number">
                      <span><%- count + 1 %></span>
                      <div class="trends-bot-name dynamic-name" data-jname="<%- tops.botName %>">
                        <%- tops.botName %></div>
                    </div>
                    <a href="/bot/<%- tops.botID %>" class="trends-bot-avatar">
                      <img id="botavatar" data-src="<%- tops.botAvatar %>" src="<%- tops.botAvatar %>" class="bot-banner lazyload" title="<%- tops.botName %>" alt="<%- tops.botName %>">
                    </a>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <% }) %>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="trending-navi">
              <div class="navi-next"><i class="fas fa-angle-right"></i></div>
              <div class="navi-prev"><i class="fas fa-angle-left"></i></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!--/End: trending-->

  <!-- Begin: Certified -->
  <div id="main-wrapper" style="background: #121417;">
    <div class="container mt-4">
      <div id="main-content">
        <section class="trends-block trends-block_home">
          <div class="trends-block-header">
            <div class="float-left trends-heading mr-4">
              <h2 class="trends-title">Certified Bots</h2>
            </div>
            <div class="float-right viewmore">
              <a class="btn" href="/search?allcertified">
                See more<i class="fas fa-angle-right ml-2"></i>
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="random-content">
            <div class="trends-block-content trends-block-certified-list">
              <div class="bot-items">
                <% for (const cert of certified) { %>
                <div class="item">
                  <a class="bot-thumbnail" href="/bot/<%- cert.botID %>" title="<%- cert.botName %>">
                    <img id="botavatar" data-src="<%- cert.botAvatar %>" src="<%- cert.botAvatar %>" class="sit-img">
                    <div class="tick ml-1 mb-1">
                      <div class="slider-bot-langs-fb">
                        <span class="badge badge-primary color-white">
                          <%- cert.tags[0] %>
                        </span>
                      </div>
                    </div>
                  </a>
                  <div class="cert-bots-item">
                    <a href="/bot/<%- cert.botID %>" title="<%- cert.botName %>">
                      <h3 class="cert-bot-name text-left" title="<%- cert.botName %>"><%- cert.botName %></h3>
                    </a>
                    <small style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"><%- cert.shortDesc.substring(0, 40) + "..."; %></small>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <% } %>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </section>

        <div class="clearfix"></div>

        <div class="clearfix"></div>
        <div id="recents-block">
          <section class="trends-block trends-block_sidebar trends-block-recents recents-list">
            <div class="trends-block-header">
              <div class="float-left trends-heading mr-4">
                <h2 class="trends-title">Recently Added</h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="trends-block-content">
              <div class="recents-base">
                <div class="clearfix"></div>
                <div id="recents-content">
                  <div class="text-center mt-2 mb-3">
                    <div class="loading-relative" id="recents-loading" style="display: none;">
                      <div class="loading">
                        <div class="span1"></div>
                        <div class="span2"></div>
                        <div class="span3"></div>
                      </div>
                    </div>
                  </div>
                  <ul class="ulclear recents-base-list no-limit result">
                    <% for (const recentb of recent) { %>
                    <li>
                      <a class="recents-link">
                        <div class="time"><img id="botavatar" data-src="<%- recentb.botAvatar %>" src="<%- recentb.botAvatar %>" alt="<%- recentb.botName %>" style="width: 45px;"></div>
                        <div class="bot-recents-details">
                          <h3 class="recents-bot-name dynamic-name" title="<%- recentb.botName %>"><%- recentb.botName %></h3>
                          <div class="shortDesc" style="max-width: 969px;"><%- recentb.shortDesc %></div>
                          <div class="recents-buttons">
                            <button type="button" onclick="window.location.href='/bot/<%- recentb.botID %>'" class="btn btn-sm btn-play""><i class=" fa-solid fa-plus"></i> Invite</button>
                            <button type="button" onclick="window.location.href='/bot/<%- recentb.botID %>/vote'" class="btn btn-sm btn-play"><i class="fa-solid fa-angle-up"></i> Vote</button>
                          </div>
                        </div>
                      </a>
                    </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>

        <div class="clearfix"></div>
        <section class="trends-block trends-block_home">
          <div class="trends-block-header trends-block-header-tabs">
            <div class="float-left trends-heading mr-4">
              <h2 class="trends-title">Random Bots</h2>
            </div>
            <div class="float-right viewmore"><a class="btn" href="/search?random">See more<i class="fas fa-angle-right ml-2"></i></a></div>
            <div class="clearfix"></div>
          </div>
          <div class="random-content">
            <div class="trends-block-content trends-block-list random_list random_list-grid">
              <div class="random_list-wrap">
                <% for (const random of randomBots) { %>
                <div class="random-base">
                  <div class="trends-bot-avatar">
                    <div class="tick ltr">
                      <div class="slider-bot-langs bots-upvotes">
                        <i class="fa-solid fa-angle-up"></i> <%- random.upvotes %>
                      </div>
                    </div>
                    <div class="tick rtl">
                      <div class="slider-bot-langs bots-servercount">
                        <i class="fa-solid fa-house-chimney-user"></i> <%- random.serverCount %>
                      </div>
                    </div>
                    <img id="botavatar" data-src="<%- random.botAvatar %>" src="<%- random.botAvatar %>" class="bot-banner lazyload" alt="<%- random.botName %>" style="position: absolute; width: 427px; height: 331px; object-fit: cover; /* top: 0; */ left: -115px; right: 0; bottom: -52px;">
                    <a href="/bot/<%- random.botID %>" class="trends-bot-avatar-ahref" title="<%- random.botName %>"></a>
                  </div>
                  <div class="bot-recents-details">
                    <h3 class="recents-bot-name">
                      <center><a href="/bot/<%- random.botID %>" title="<%- random.botName %>" class="dynamic-name"><%- random.botName %></a></center>
                    </h3>
                    <p style="height: 66px; overflow: auto;"><%- random.shortDesc %></p>
                    <div class="clearfix"></div>
                    <div class="random-bots-desc">
                      <span class="tags-randoms tags-list"><i class="fa-solid fa-tags"></i> <%- random.tags.join(', ') %></span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <% } %>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </section>
        <div class="clearfix"></div>

      </div>
      <div id="main-sidebar">
        <section class="trends-block trends-block_sidebar trends-block-tags">
          <div class="trends-block-header">
            <div class="float-left trends-heading mr-4">
              <h2 class="trends-title">All Categories</h2>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="trends-block-content">
            <div class="cbox cbox-tags">
              <ul class="ulclear color-list fb-tags-list fb-tags-less">
                <% for (const botags of tags) { %>
                <li>
                  <a href="search?<%- botags %>"><%- botags %></a>
                </li>
                <% } %>
              </ul>
              <div class="clearfix"></div>
              <a class="btn btn-sm btn-block btn-showmore mt-2"></a>
            </div>
          </div>
        </section>
        <section class="trends-block trends-block_sidebar trends-block-realtime">
          <div class="trends-block-header">
            <div class="float-left trends-heading mr-2">
              <h2 class="trends-title"><i class="fa-solid fa-rectangle-ad"></i> Advertise</h2>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="trends-block-content">
            <div class="cbox cbox-list cbox-realtime">
              <div class="cbox-content">
                <div class="random-content">
                  <div id="ads" class="rank-block-ul anif-block-chart tab-pane active">
                    <!-- stolen from top.gg ^^ -->
                    <section class="chakra-stack css-t4wzpe">
                      <div class="chakra-stack css-daqgu6">
                        <div class="css-ay5wn"><svg width="375" height="220" viewBox="0 0 414 220" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1490:56449)">
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M183.106 153.227L159.012 86.2726C158.751 85.5202 158.284 84.237 157.61 82.4231L158.241 82.1657L159.639 86.0429C165.768 103.292 169.649 114.183 171.281 118.716C172.408 121.853 177.938 137.203 183.674 153.017L183.106 153.227ZM195.191 149.944L193.914 140.748L194.498 140.665C194.917 143.655 195.351 146.74 195.786 149.841L195.191 149.944ZM211.735 148.938L212.088 143.841L212.683 143.872C212.569 145.56 212.452 147.267 212.338 148.973L211.735 148.938ZM260.456 172.003L264.109 168.835L264.665 169.484L261.039 172.653C260.848 172.427 260.652 172.213 260.456 172.003ZM274.788 194.973L278.265 193.702L305.978 183.548L306.33 184.387C293.882 188.942 282.549 193.1 275.121 195.789C275.003 195.512 274.898 195.231 274.788 194.954V194.973ZM278.007 237.745L302.054 243.409L362.922 257.753L362.601 258.597C327.26 250.28 289.159 241.302 286.716 240.668C285.572 240.371 282.24 239.567 277.827 238.518C277.889 238.248 277.948 237.991 278.007 237.734V237.745ZM273.59 251.211L275.285 252.003L275.003 252.751L273.269 251.924C273.374 251.666 273.476 251.433 273.59 251.187V251.211ZM265.065 265.753L268.389 268.296L267.884 268.926C266.925 268.185 265.813 267.341 264.583 266.383C264.748 266.156 264.908 265.938 265.065 265.73V265.753ZM245.122 283.908L251.888 294.834L251.356 295.159C249.331 291.88 246.841 287.864 244.585 284.232L245.122 283.908ZM233.029 289.848C238.12 303.983 243.414 318.609 243.414 318.609L258.251 359.702L257.593 359.955C249.311 337.052 239.925 311.06 239.389 309.432C238.809 307.678 235.32 298.015 232.442 290.066L233.029 289.848ZM215.913 293.963L216.36 297.159L215.745 297.234C215.592 296.153 215.44 295.08 215.295 294.03L215.913 293.963ZM189.603 292.082C188.499 296.862 187.457 301.389 186.533 305.397L185.726 305.227C186.302 302.85 187.473 297.825 188.859 291.876L189.603 292.082ZM162.309 278.058C152.128 291.67 143.729 302.902 143.729 302.902C143.729 302.902 112.437 344.715 91.284 373L90.6065 372.458C115.018 339.805 150.519 292.304 152.477 289.836C153.514 288.51 157.246 283.551 161.742 277.559L162.309 278.058ZM152.156 267.825C139.899 278.549 129.984 287.23 129.984 287.23L97.3144 315.836L96.7387 315.147C119.212 295.464 139.59 277.631 141.191 276.292C142.393 275.286 146.536 271.682 151.662 267.183C151.835 267.417 151.999 267.623 152.167 267.825H152.156ZM139.664 245.203C119.517 252.534 86.0172 264.811 86.0172 264.811L18.516 289.424L18.2849 288.751L18.6765 288.605C27.5107 285.381 110.988 254.791 113.334 253.936L139.394 244.375C139.492 244.652 139.582 244.934 139.676 245.203H139.664ZM136.297 230.181C121.859 232.161 98.9903 235.377 86.3618 237.147L86.2639 236.355L106.199 233.555L136.203 229.322C136.242 229.599 136.277 229.884 136.308 230.181H136.297ZM137.593 205.433C123.676 202.122 100.22 196.589 83.7538 192.708L83.9183 191.916L99.19 195.512L137.792 204.577C137.734 204.862 137.671 205.148 137.597 205.433H137.593ZM142.899 190.074C120.97 179.631 76.5761 158.593 76.5761 158.593L-4.09018 120.261L-3.82779 119.599L0.201599 121.52C10.3319 126.32 105.831 171.556 108.51 172.831C109.52 173.31 124.67 180.474 143.29 189.29L142.899 190.074ZM149.802 178.482L142.511 172.882L142.997 172.177L150.323 177.777L149.802 178.482ZM26.5787 377.432L26.747 377.634C6.61572 395.262 -28.897 426.347 -35.5618 432.181C-44.7561 440.216 -124.506 509.923 -130.642 515.281L-179.888 558.327L-180.279 557.697C-180.279 557.697 -137.871 520.782 -132.855 516.398C-129.511 513.475 -122.166 507.03 -110.82 497.063C-70.5628 461.639 -48.7137 442.423 -45.273 439.416C-42.0464 436.592 -32.1158 427.955 -24.6366 421.42L-24.7384 421.305L26.1675 376.553L26.7705 377.258L26.5787 377.432ZM105.98 101.813L105.792 101.595L106.489 100.985L129.53 127.789L128.833 128.403L128.359 127.853L128.277 127.928L112.316 109.282L105.953 101.837L105.98 101.813ZM328.674 113.338L319.781 121.132L290.53 146.847L289.923 146.142L328.298 112.415L328.905 113.12L328.674 113.338ZM30.146 206.645L30.1969 205.908L90.5243 210.264L90.4695 211.056L78.209 210.169L30.146 206.645ZM-62.9569 199.912L-63.4034 199.884C-106.274 196.914 -129.76 195.256 -133.861 194.91C-140.017 194.383 -186.678 191.013 -190.688 190.72C-193.363 190.522 -200.595 189.957 -212.381 189.025L-212.201 188.047C-174.729 190.721 -152.722 192.305 -146.18 192.799L-62.8943 198.926L-62.9569 199.912ZM383.954 232.542C373.275 231.749 337.496 229.191 308.699 227.1L308.824 226.197L381.722 231.5L384.071 231.67L383.954 232.542ZM418.131 235.088L418.26 234.157C438.623 235.639 460.943 237.258 466.304 237.654L571.808 245.441L626.458 249.472C626.367 249.967 626.32 250.213 626.32 250.213C626.32 250.213 579.33 246.648 573.786 246.221L549.288 244.474C504.473 241.348 480.149 239.653 476.317 239.389C470.588 238.969 445.914 237.072 443.608 236.977C442.511 236.914 430.736 236.046 418.131 235.108V235.088ZM199.126 331.979C199.807 322.015 200.301 314.854 200.387 314.011C200.528 312.541 201.002 305.737 201.472 298.763H202.094C201.194 311.927 200.375 324.034 200.375 324.034C200.375 324.034 200.168 327.092 199.835 331.979H199.126ZM196.334 373.27V374.014H197C196.048 387.975 195.253 399.654 195.187 400.596C195.018 403.032 191.271 457.939 190.742 465.804C190.214 473.67 185.483 541.911 185.119 547.158C184.876 550.659 183.905 564.706 182.206 589.297L181.626 589.253C181.626 589.253 184.218 553.028 184.516 548.739C184.712 545.874 185.132 539.578 185.777 529.852C188.03 495.309 189.257 476.563 189.458 473.614C189.763 469.194 191.138 450.165 191.2 448.39C191.263 446.616 193.895 409.416 194.231 404.592C194.337 402.751 195.242 389.282 196.334 373.27ZM213.955 116.799L215.843 89.4726L216.462 89.5043C215.642 100.739 215.108 108.167 214.86 111.789C214.797 112.657 214.68 114.403 214.515 116.811L213.955 116.799ZM217.628 62.439C217.722 60.9024 217.823 59.2523 217.93 57.4886C220.071 24.451 221.269 6.34811 221.525 3.17981C221.916 -1.57265 224.34 -37.5448 224.556 -40.6379C224.697 -42.6973 225.105 -48.2748 225.781 -57.3705L226.564 -57.319C224.638 -28.4346 223.501 -11.4683 223.154 -6.42014L218.388 62.4905L217.628 62.439ZM422.955 29.8847L423.519 30.5421L418.495 34.9342C397.089 53.5295 383.567 65.2866 377.931 70.2054C375.354 72.4549 366.148 80.5023 354.53 90.6964L354.052 90.138L418.037 34.2411C418.987 33.4015 420.627 31.9494 422.955 29.8847ZM448.718 7.14417C482.258 -22.3686 500.764 -38.6128 504.236 -41.5883C509.832 -46.3844 551.83 -83.1724 555.444 -86.3407C557.856 -88.4529 564.394 -94.1295 575.058 -103.37L575.591 -102.543C541.886 -72.9718 522.086 -55.6042 516.191 -50.4398L449.391 7.94414L448.718 7.14417ZM308.096 336.866L349.42 385.143C351.879 388.022 407.398 452.866 415.347 462.173L497.513 558.339L540.07 608.144L539.448 608.54C539.448 608.54 502.944 565.677 498.637 560.604C495.747 557.222 489.375 549.792 479.52 538.315C444.491 497.592 425.484 475.49 422.497 472.01C418.037 466.786 398.873 444.248 397.044 442.196C395.216 440.145 357.678 396.125 352.795 390.426C350.403 387.622 328.964 362.608 307.422 337.46L308.096 336.866ZM57.9093 45.6114L21.8836 3.43329C19.6463 0.819427 12.9894 -6.88353 1.91281 -19.6756C-31.5963 -58.6194 -49.9355 -79.9764 -53.1047 -83.7467C-57.835 -89.406 -94.221 -131.885 -97.3537 -135.541C-99.4421 -137.978 -105.055 -144.589 -114.192 -155.374L-113.369 -155.913C-84.1181 -121.817 -66.9433 -101.791 -61.8449 -95.8377L22.5806 2.95409C40.9694 24.6042 52.5942 38.2794 57.455 43.9797L58.4457 45.1401L57.9093 45.6114ZM-69.2223 321.69C-95.8656 331.525 -110.746 336.991 -113.863 338.09C-119.697 340.141 -163.68 356.256 -167.463 357.634C-169.985 358.553 -176.816 361.012 -187.958 365.012L-188.189 364.046C-152.884 351.072 -132.145 343.459 -125.971 341.207L-69.5826 320.64L-69.2223 321.69ZM375.495 159.045L375.155 158.253C389.283 153.104 443.071 133.401 451.608 130.288L551.109 93.9796L602.653 75.1836L602.829 75.9162C602.829 75.9162 558.479 91.9677 553.231 93.8805C549.728 95.1558 542.037 97.9821 530.159 102.36C487.954 117.937 465.047 126.386 461.436 127.706C456.032 129.686 432.729 138.09 430.583 138.954C428.438 139.817 382.908 156.34 377.007 158.494L375.495 159.045ZM272.509 399.191C278.12 414.731 289.551 446.378 291.591 452.054C294.257 459.464 317.392 523.737 319.17 528.687L333.455 568.378L332.907 568.58C332.907 568.58 320.709 534.418 319.252 530.378C318.286 527.683 316.139 521.758 312.811 512.604C300.972 480.129 294.555 462.501 293.56 459.721C292.061 455.559 285.666 437.61 285.008 435.959C284.468 434.596 275.767 410.331 271.863 399.436L272.509 399.191ZM138.07 28.9144C135.609 22.1236 134.147 18.0656 133.685 16.7402C132.118 12.2412 119.881 -21.6241 118.832 -24.5349C118.135 -26.4755 116.266 -31.7402 113.224 -40.329L113.949 -40.5943C123.806 -13.4102 129.59 2.55803 131.3 7.3105L138.948 28.5659L138.07 28.9144ZM144.179 355.195L144.986 355.591L114.102 422.165C112.504 425.606 76.5095 503.285 71.3367 514.41C66.1638 525.535 21.3432 622.018 17.8972 629.439L-9.78378 689.019L-10.4025 688.623C-10.4025 688.623 13.4841 637.455 16.3113 631.388C18.1909 627.343 22.3104 618.433 28.6697 604.659C51.2171 555.733 63.458 529.184 65.3924 525.012C68.2941 518.766 80.86 491.891 81.9604 489.368C83.0607 486.846 107.562 434.24 110.734 427.42C112.441 423.741 128.982 388.01 144.179 355.195ZM266.925 90.7756L267.626 91.1716L252.797 123.191C252.526 123.77 250.169 128.871 246.602 136.581L245.873 136.185C255.855 114.673 266.87 90.8746 266.87 90.8746L266.925 90.7756ZM281.48 59.4371L325.694 -35.731C327.148 -38.8597 331.401 -48.1375 338.452 -63.5645C359.997 -110.368 371.829 -135.997 373.949 -140.451C377.132 -147.137 400.702 -198.035 402.734 -202.408C404.089 -205.312 407.779 -213.185 413.804 -226.027L414.626 -225.485C395.734 -184.611 384.628 -160.602 381.31 -153.457C377.992 -146.313 359.69 -106.915 326.403 -35.2636C314.313 -9.4657 306.689 6.83789 303.53 13.6471C301.506 18.0035 292.229 38.0233 282.146 59.7935L281.48 59.4371ZM-70.726 88.7241L-76.1298 86.1974C-122.407 64.41 -147.748 52.443 -152.152 50.2965C-158.762 47.0767 -209.088 23.2392 -213.411 21.1877C-216.283 19.8174 -224.068 16.0841 -236.765 9.98772L-236.233 9.15999C-195.803 28.257 -172.061 39.4873 -165.008 42.851L-70.3618 87.829L-70.726 88.7241ZM420.774 321.959L409.356 316.51C405.859 314.846 373.048 299.318 341.682 284.454L341.999 283.611L404.159 313.084L421.115 321.127L420.774 321.959ZM487.461 353.607L487.786 352.751C491.252 354.395 493.879 355.638 495.34 356.315L609.079 410.363L667.989 438.359C667.719 438.779 667.597 438.984 667.597 438.984C667.597 438.984 617.005 414.826 611.006 411.967C607.006 410.066 598.197 405.901 584.578 399.472C536.201 376.676 509.955 364.3 505.838 362.343C502.827 360.937 494.999 357.199 487.465 353.607H487.461ZM-6.11465 250.015L-38.1266 254.466C-40.9773 254.862 -49.4029 256.087 -63.4034 258.141C-105.955 264.246 -129.27 267.557 -133.348 268.074C-139.476 268.866 -185.82 275.369 -189.791 275.924C-192.446 276.291 -199.635 277.26 -211.359 278.831L-211.383 277.832C-174.188 272.57 -152.337 269.485 -145.832 268.577L-38.1462 253.607C-24.6522 251.785 -14.0051 250.343 -6.20471 249.282L-6.11465 250.015ZM419.106 190.736C404.586 192.748 387.313 195.124 383.75 195.619C381.401 195.948 364.378 198.344 344.047 201.199L343.942 200.308L378.507 195.468L418.993 189.793L419.106 190.736ZM487.77 181.112L487.661 180.205L567.309 169.116L621.59 161.591C621.59 162.09 621.61 162.344 621.61 162.344C621.61 162.344 574.929 168.716 569.404 169.472C565.72 169.987 557.613 171.134 545.083 172.914L487.77 181.112ZM186.067 84.2885L185.354 79.14C185.049 76.9433 184.105 70.4548 182.523 59.6747C177.824 26.9091 175.273 8.95537 174.871 5.81346C174.272 1.08476 169.256 -34.6141 168.829 -37.6834C168.542 -39.727 167.796 -45.2715 166.589 -54.317L167.373 -54.424C171.424 -25.7719 173.8 -8.93896 174.499 -3.92511C175.199 1.08873 179.042 28.7481 186.028 79.0529C186.27 80.8351 186.503 82.5512 186.725 84.2014L186.067 84.2885ZM221.501 338.894L222.206 338.807C225.229 360.399 230.547 398.363 230.786 400.09C231.122 402.505 238.762 456.996 239.847 464.81C240.932 472.624 250.345 540.358 251.07 545.566C251.553 549.038 253.49 562.981 256.881 587.396L256.305 587.475C256.305 587.475 251.395 551.495 250.803 547.238C250.409 544.399 249.526 538.154 248.152 528.501C243.255 494.238 240.603 475.646 240.195 472.723C239.585 468.339 237.02 449.432 236.714 447.685C236.409 445.939 231.338 408.996 230.676 404.208C230.237 401.056 225.076 364.434 221.501 338.894ZM34.9586 448.276C24.1508 462.719 14.4826 475.638 11.5966 479.487L-64.3236 580.774L-103.646 633.225L-104.171 632.695C-104.171 632.695 -70.2757 587.669 -66.2737 582.327C-63.6031 578.765 -57.7423 570.917 -48.6915 558.782C-16.5817 515.661 0.843811 492.269 3.58487 488.604C7.70825 483.107 25.5135 459.464 27.123 457.206C27.6712 456.414 28.5131 455.487 34.2968 447.788L34.9586 448.276ZM275.168 126.035L289.923 106.32L320.58 65.4252L321.234 65.7776L275.826 126.518L275.168 126.035ZM341.486 37.5282L373.471 -5.14491C375.538 -7.90135 381.605 -16.0862 391.672 -29.6993C422.369 -70.9507 439.207 -93.5328 442.186 -97.4456C446.674 -103.315 480.17 -148.139 483.075 -151.992C484.999 -154.558 490.228 -161.484 498.762 -172.768L499.451 -172.067C472.562 -136.051 456.769 -114.9 452.07 -108.614L374.066 -4.53897C357.513 17.3963 346.86 31.5296 342.109 37.8609L341.486 37.5282ZM415.594 380.937L415.01 381.662C401.504 371.298 386.146 359.484 382.873 356.985C380.59 355.234 364.132 342.652 344.517 327.65L345.073 326.957L378.495 352.541C379.987 353.682 397.299 366.937 415.594 380.937ZM492.246 439.658L558.941 490.81L610.81 530.58L610.285 531.107C610.285 531.107 565.782 496.814 560.507 492.778C556.985 490.083 549.224 484.157 537.223 475L491.714 440.331L492.246 439.658ZM103.082 142.669L89.8625 132.55L-4.7872 59.9836L-4.34467 59.342C9.31116 69.874 18.3528 76.839 22.7803 80.237C29.449 85.33 78.4674 122.835 103.529 142.007L103.082 142.669ZM-63.513 15.2511C-92.3571 -6.71323 -108.391 -18.9561 -111.615 -21.4775C-117.418 -26.0161 -161.738 -59.8932 -165.548 -62.8318C-168.085 -64.7804 -174.933 -70.0688 -186.09 -78.6972L-185.397 -79.3942C-149.787 -52.1996 -128.875 -36.226 -122.662 -31.4736L-62.8943 14.36L-63.513 15.2511ZM-25.7448 366.913L-26.2773 366.046L-3.19736 351.559C17.0397 338.965 29.8184 330.998 35.1387 327.658C39.6341 324.834 65.506 308.541 87.6109 294.613L88.026 295.286L-2.84494 352.315C-5.29102 353.852 -12.4962 358.438 -24.4603 366.074L-25.7604 366.898L-25.7448 366.913ZM-104.958 416.814C-117.305 424.573 -130.826 433.087 -132.761 434.299C-135.034 435.728 -141.212 439.571 -151.294 445.828L-151.717 444.929C-130.522 431.551 -115.142 421.848 -105.577 415.82L-104.958 416.814ZM409.669 93.1122C408.455 93.8806 407.605 94.4231 407.288 94.6409C405.365 95.936 364.214 121.671 358.896 125.017C355.063 127.421 306.769 157.865 278.68 175.524L278.246 174.732L354.044 127.041L409.23 92.3162L409.669 93.1122ZM438.764 74.8707L438.309 74.039L515.933 25.3263L562.488 -3.90137L562.806 -3.22018C562.806 -3.22018 522.727 21.8055 517.985 24.7797C514.823 26.7626 507.878 31.1454 497.149 37.9282C466.143 57.5559 446.681 69.8701 438.764 74.8707ZM293.921 362.676L293.325 363.036C287.589 353.785 280.145 341.777 273.355 330.83L273.962 330.462C280.548 341.084 288.329 353.642 293.921 362.676ZM315.998 398.319C324.315 411.749 333.494 426.573 335.691 430.125L378.421 499.293L400.553 535.111L400.059 535.424C400.059 535.424 381.103 504.576 378.851 500.929C377.348 498.492 374.028 493.149 368.893 484.901C350.638 455.613 340.737 439.719 339.192 437.218C336.874 433.464 326.923 417.25 325.944 415.777C325.467 415.056 320.56 407.115 315.372 398.707L315.998 398.319ZM157.798 143.908L131.249 100.942L131.825 100.605C141.103 115.755 146.985 125.345 149.473 129.374C150.499 131.037 153.886 136.502 158.296 143.631L157.798 143.908ZM101.132 52.7044C95.7441 44.0444 92.6114 38.9883 91.7343 37.5362C89.2869 33.4649 70.346 2.91447 68.7209 0.288742C67.6401 -1.46439 64.7294 -6.21686 59.9886 -13.9686L60.6425 -14.3647C75.8752 10.1184 84.8189 24.5091 87.4738 28.8075L101.962 52.2331L101.132 52.7044ZM165.297 393.693C167.936 382.208 170.744 370.014 173.403 358.474L174.276 358.66L166.182 393.88L165.297 393.693ZM157.857 426.002L153.436 447.048L153.875 447.143C148.663 469.757 135.333 527.63 133.066 537.44C130.297 549.408 106.286 653.21 104.441 661.194C103.206 666.517 98.2633 687.883 89.6119 725.292L88.9227 725.023C88.9227 725.023 101.778 669.95 103.286 663.419C104.294 659.066 106.49 649.486 109.876 634.679C121.867 582.082 128.38 553.544 129.416 549.063C130.983 542.331 137.738 513.42 138.29 510.699C138.842 507.978 151.995 451.412 153.702 444.073C154.07 442.529 155.609 435.769 157.869 426.002H157.857ZM235.183 91.0172L235.966 91.1558C232.697 105.381 230.32 115.71 230.116 116.597C229.956 117.282 228.44 123.896 226.2 133.663L225.386 133.52C228.949 118.126 232.869 101.112 235.195 91.0172H235.183ZM12.2076 175.797L-69.6335 156.431C-72.9619 155.639 -82.8207 153.36 -99.2098 149.595C-148.951 138.015 -176.199 131.643 -180.953 130.478C-188.08 128.716 -242.204 115.983 -246.852 114.882C-249.954 114.143 -258.336 112.126 -272 108.831L-271.648 107.904C-228.177 118.096 -202.647 124.088 -195.058 125.88L-69.3319 155.631C-41.8689 162.232 -24.5165 166.385 -17.2748 168.09L12.3603 175.068L12.2076 175.797ZM434.836 275.599L435.157 274.759C461.104 280.874 506.742 291.63 515.306 293.654L637.669 322.609L701.046 337.607L700.78 338.304C700.78 338.304 646.326 325.302 639.869 323.777C635.564 322.76 626.092 320.539 611.452 317.112C559.447 304.985 531.23 298.399 526.799 297.353C520.143 295.769 491.557 288.933 488.867 288.375C486.811 287.951 453.581 280.058 434.836 275.607V275.599Z" fill="white" fill-opacity="0.2"></path>
                              <g filter="url(#filter0_f_1490:56449)">
                                <circle cx="175.173" cy="87.9044" r="111.977" fill="#FF3366" fill-opacity="0.2"></circle>
                              </g>
                              <path d="M76.9668 8.10119C78.1641 6.78359 80.3573 7.59096 80.4371 9.37865L80.5714 12.3883C80.605 13.1411 81.0558 13.8138 81.7384 14.1297L84.4753 15.396C86.0864 16.1415 86.0162 18.464 84.3636 19.0917L81.5148 20.1737C80.8203 20.4375 80.3317 21.0682 80.2471 21.8101L79.9004 24.8482C79.6981 26.6204 77.4635 27.2514 76.3569 25.8487L74.5048 23.5008C74.0353 22.9057 73.2736 22.6253 72.5358 22.776L69.6247 23.3705C67.8856 23.7257 66.5747 21.7896 67.5462 20.3005L69.2115 17.7478C69.6181 17.1244 69.6447 16.3236 69.2804 15.6701L67.7857 12.9892C66.9187 11.434 68.341 9.60919 70.049 10.0855L72.9504 10.8947C73.674 11.0965 74.4469 10.8743 74.9512 10.3194L76.9668 8.10119Z" fill="#FFBB00" fill-opacity="0.8"></path>
                              <path d="M401.575 70.5577C402.981 69.4705 404.996 70.6472 404.767 72.4216L404.382 75.4183C404.285 76.1658 404.613 76.9068 405.229 77.3367L407.706 79.0636C409.164 80.0801 408.692 82.3599 406.955 82.688L403.977 83.2509C403.246 83.3889 402.655 83.9264 402.443 84.6446L401.582 87.5695C401.078 89.281 398.772 89.5153 397.924 87.9412L396.497 85.2927C396.138 84.6264 395.439 84.2183 394.689 84.237L391.708 84.3116C389.936 84.3559 388.984 82.2187 390.197 80.9216L392.271 78.7048C392.78 78.1605 392.945 77.3738 392.698 76.665L391.691 73.7748C391.103 72.0897 392.819 70.5361 394.419 71.3047L397.136 72.6105C397.812 72.9356 398.61 72.8519 399.202 72.3939L401.575 70.5577Z" fill="#FFBB00" fill-opacity="0.8"></path>
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M49.5613 154.783C53.6685 153.271 58.1995 155.384 59.6815 159.502C61.6002 164.833 60.5341 170.804 56.8853 175.163L50.1952 183.154L50.195 183.153L39.9918 181.381C34.4265 180.415 29.8148 176.534 27.8961 171.202C26.4141 167.084 28.5422 162.52 32.6495 161.008L33.1591 160.82C37.5307 159.211 42.3517 161.445 43.9542 165.811C42.4068 161.425 44.6801 156.58 49.0517 154.97L49.5613 154.783Z" fill="#FF3366"></path>
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M374.551 195.749V192.813C374.551 192.069 375.057 191.422 375.778 191.241L400.547 185.049C401.569 184.794 402.559 185.567 402.559 186.62V192.949L402.559 218.856H402.54C402.795 222.405 400.09 226.106 395.816 227.662C390.848 229.47 385.642 227.695 384.187 223.698C382.732 219.701 385.58 214.994 390.547 213.186C393.305 212.183 396.136 212.283 398.358 213.255V193.894L378.752 198.305V225.158H378.733C378.988 228.707 376.283 232.408 372.009 233.964C367.042 235.772 361.835 233.997 360.38 230C358.925 226.002 361.773 221.296 366.74 219.488C369.498 218.485 372.329 218.585 374.551 219.557V199.25V195.749Z" fill="#00BBFF"></path>
                              <path d="M88.4366 63.5397C89.552 63.2409 90.5726 64.2615 90.2737 65.3768L88.3289 72.6353C88.03 73.7506 86.6358 74.1242 85.8193 73.3077L80.5058 67.9942C79.6893 67.1777 80.0628 65.7835 81.1782 65.4846L88.4366 63.5397Z" stroke="#00CC88"></path>
                              <path d="M413.166 97.3419C414.281 97.043 415.302 98.0636 415.003 99.179L413.058 106.437C412.759 107.553 411.365 107.926 410.549 107.11L405.235 101.796C404.419 100.98 404.792 99.5856 405.907 99.2868L413.166 97.3419Z" stroke="#00CC88"></path>
                              <path d="M339.76 183.065C339.68 181.913 340.876 181.106 341.914 181.612L351.696 186.383C352.734 186.889 352.835 188.329 351.877 188.975L342.855 195.061C341.897 195.707 340.6 195.074 340.519 193.922L339.76 183.065Z" stroke="#00CC88"></path>
                              <circle cx="50.6579" cy="121.627" r="4.25577" stroke="white" stroke-opacity="0.6"></circle>
                              <g filter="url(#filter1_b_1490:56449)">
                                <path d="M36 40.2074C36 35.6746 39.6746 32 44.2074 32H369.793C374.325 32 378 35.6746 378 40.2074V110H36V40.2074Z" fill="#FFBB00" fill-opacity="0.8"></path>
                                <rect x="55.6978" y="45" width="52" height="52" rx="26" fill="white" fill-opacity="0.6"></rect>
                                <rect x="127.396" y="57.0474" width="158" height="10" rx="5" fill="white" fill-opacity="0.6"></rect>
                                <rect x="127.396" y="78.5378" width="45.9614" height="6.56591" rx="3.28296" fill="white" fill-opacity="0.6"></rect>
                                <path d="M183.562 83.5861C183.801 83.5861 184.018 83.5274 184.213 83.4101C184.412 83.2927 184.571 83.1344 184.688 82.9353C184.809 82.7325 184.869 82.5049 184.869 82.2524C184.869 81.9963 184.809 81.7687 184.688 81.5696C184.571 81.3668 184.412 81.2086 184.213 81.0948C184.018 80.9774 183.801 80.9187 183.562 80.9187C183.31 80.9187 183.081 80.9774 182.874 81.0948C182.668 81.2086 182.504 81.3668 182.383 81.5696C182.263 81.7687 182.202 81.9963 182.202 82.2524C182.202 82.5049 182.263 82.7325 182.383 82.9353C182.504 83.1344 182.668 83.2927 182.874 83.4101C183.081 83.5274 183.31 83.5861 183.562 83.5861Z" fill="white" fill-opacity="0.6"></path>
                                <rect x="193.914" y="78.5378" width="45.9614" height="6.56591" rx="3.28296" fill="white" fill-opacity="0.6"></rect>
                              </g>
                              <path d="M84 118H330V170H84V118Z" fill="#16141E"></path>
                              <rect x="98.2007" y="125.066" width="37.8685" height="37.8685" rx="18.9343" fill="white" fill-opacity="0.1"></rect>
                              <rect x="150.27" y="133.941" width="113.606" height="7.10035" rx="3.55017" fill="white" fill-opacity="0.1"></rect>
                              <rect x="150.27" y="149.325" width="33.1349" height="4.73356" rx="2.36678" fill="white" fill-opacity="0.1"></rect>
                              <path d="M190.734 153.314C190.906 153.314 191.063 153.271 191.204 153.187C191.347 153.102 191.461 152.988 191.546 152.844C191.633 152.698 191.677 152.534 191.677 152.352C191.677 152.167 191.633 152.003 191.546 151.86C191.461 151.714 191.347 151.599 191.204 151.517C191.063 151.433 190.906 151.391 190.734 151.391C190.552 151.391 190.387 151.433 190.238 151.517C190.09 151.599 189.972 151.714 189.885 151.86C189.797 152.003 189.754 152.167 189.754 152.352C189.754 152.534 189.797 152.698 189.885 152.844C189.972 152.988 190.09 153.102 190.238 153.187C190.387 153.271 190.552 153.314 190.734 153.314Z" fill="white" fill-opacity="0.1"></path>
                              <rect x="198.197" y="149.325" width="33.1349" height="4.73356" rx="2.36678" fill="white" fill-opacity="0.1"></rect>
                              <path d="M84 178H330V224.083C330 227.351 327.351 230 324.083 230H89.917C86.6491 230 84 227.351 84 224.083V178Z" fill="#16141E"></path>
                              <rect x="98.2007" y="185.066" width="37.8685" height="37.8685" rx="18.9343" fill="white" fill-opacity="0.1"></rect>
                              <rect x="150.27" y="193.941" width="113.606" height="7.10035" rx="3.55017" fill="white" fill-opacity="0.1"></rect>
                              <rect x="150.27" y="209.325" width="33.1349" height="4.73356" rx="2.36678" fill="white" fill-opacity="0.1"></rect>
                              <path d="M190.734 213.314C190.906 213.314 191.063 213.271 191.204 213.187C191.347 213.102 191.461 212.988 191.546 212.844C191.633 212.698 191.677 212.534 191.677 212.352C191.677 212.167 191.633 212.003 191.546 211.86C191.461 211.714 191.347 211.599 191.204 211.517C191.063 211.433 190.906 211.391 190.734 211.391C190.552 211.391 190.387 211.433 190.238 211.517C190.09 211.599 189.972 211.714 189.885 211.86C189.797 212.003 189.754 212.167 189.754 212.352C189.754 212.534 189.797 212.698 189.885 212.844C189.972 212.988 190.09 213.102 190.238 213.187C190.387 213.271 190.552 213.314 190.734 213.314Z" fill="white" fill-opacity="0.1"></path>
                              <rect x="198.197" y="209.325" width="33.1349" height="4.73356" rx="2.36678" fill="white" fill-opacity="0.1"></rect>
                            </g>
                            <defs>
                              <filter id="filter0_f_1490:56449" x="-262.818" y="-350.086" width="875.981" height="875.981" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                                <feGaussianBlur stdDeviation="163.007" result="effect1_foregroundBlur_1490:56449"></feGaussianBlur>
                              </filter>
                              <filter id="filter1_b_1490:56449" x="16.3023" y="12.3023" width="381.395" height="117.395" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                <feGaussianBlur in="BackgroundImage" stdDeviation="9.84887"></feGaussianBlur>
                                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1490:56449"></feComposite>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1490:56449" result="shape"></feBlend>
                              </filter>
                              <clipPath id="clip0_1490:56449">
                                <rect width="414" height="220" fill="white"></rect>
                              </clipPath>
                            </defs>
                          </svg>
                          <div class="chakra-stack css-2bimd8">
                            <h2 class="chakra-text css-k3i669" style="font-size: 20px; font-weight: 600; line-height: 24px; letter-spacing: 0; color: #ffffff;">Grow your Communities, Apps, and Bots</h2>
                            <p class="chakra-text css-1s7i29z" style="margin-top: 16px; margin-inline-end: 0; margin-bottom: 0; margin-inline-start: 0; /* font-size: 16px; */ font-weight: 500; letter-spacing: 0; line-height: 1.6; color: #ffffff99;">Start running ads on Featured Spots with our simple auction platform</p>
                            <center><a class="chakra-link chakra-button css-1e1n4k8" href="/advertise" style="transition-timing-function: cubic-bezier(0, 0, 0.2, 1);  cursor: pointer; text-decoration: none; display: inline-flex; appearance: none; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; user-select: none; position: relative; white-space: nowrap; vertical-align: middle; outline: transparent solid 2px; outline-offset: 2px; width: auto; line-height: 24px; border-radius: 10px; font-weight: 600; transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform; transition-duration: 200ms; color: #ffffff; height: auto; min-width: 40px; font-size: 16px; padding-inline-start: 16px; padding-inline-end: 16px; padding-top: 8px; padding-bottom: 8px; min-height: 40px; letter-spacing: 0; background: #ffffff1a;">Go to Auctions</a></center>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <%- include('./partials/_footer.ejs') %>
  </div>

  <div id="mask-overlay"></div>

  <!-- basic essentials -->
  <script type="text/javascript" src="js/3.3.1-jquery.min.js"></script>
  <script type="text/javascript" src="js/js-bootstrap.bundle.min.js"></script>

  <!-- For detect users in mobile device -->
  <script src="js/mobile-detect@1.4.4-mobile-detect.min.js"></script>

  <!-- For Slider --> 
  <script type="text/javascript" src="js/js-app.min.js"></script>
  <script type="text/javascript" src="js/js-common.js"></script>

  <!-- need more tests, buh -->
  <script>
    window.addEventListener("load", event => {
      var image = document.getElementById("botavatar");
      var isLoaded = image.complete && image.naturalHeight !== 0;
      if (isLoaded == false) {
        $(document).ready(function() {
          $("#botavatar").attr("src", 'https://discord.mx/hcvOiDRmYc.jpg');
          $("#botavatar").attr("data-src", 'https://discord.mx/hcvOiDRmYc.jpg');
        });
      }
    });
  </script>
</body>

</html>